/* Global styles------------------------------------*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Colors------------------------------------*/



/* Typography------------------------------------
font-family: proxima-nova,Helvetica,Arial,sans-serif;
font-style: normal;
font-weight: 300;
*/


/* Headers top------------------------------------*/
#header{
  height: 8rem;
  padding-top: 1.5rem;
  overflow: visible !important;
  z-index: 30 !important;
}
.header{
  position: absolute;
  top: auto;
  left: 0;
  bottom: auto;
  right: 0;
}
#wrapper * {
    box-sizing: border-box;
}
.section-fix{
  padding-top: .625rem;
  padding-bottom: .625rem;
  position: relative;
  overflow: visible;
  width: 100%;
  height: 6.875rem;
}

.sector-inner{
  padding: 0 .9375rem 0 .625rem;
  position: relative;
  display: block;
}
.section-topbar{
  background: black transparent !important;
}

.logo {
    float: left;
    text-align: left;
    padding-right: .125rem;
    padding-left: .125rem;
    overflow: hidden;
    width: auto;
    display: inline-block;
    font-family: Open Sans,Trebuchet MS,sans-serif;
  }

.open-sanswnd-logo-with-text{
    text-decoration: none;
    overflow: hidden;
    display: table;
    vertical-align: middle;
    height: 3.75rem;
    min-height: 3.75rem;
}
.logo-content{
    color:#fff;
    background:#fa8b60;
    padding: 0 .625rem;
}
.text-content{
  font-weight: 400;
}
.strong{
  font-weight: 600;




/* Body------------------------------------*/









/* Footer------------------------------------*/




/* Navigations------------------------------------*/
