/* Global styles------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:400,900&display=swap');
html {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*------- Typo -----*/
h1, h2, h3, h4, h5{
	font-family: 'Roboto', sans-serif;
}

.largetext{
	margin: 0;
	color: white;
	padding-top: 35vh;
}

/*----- Color -----*/
.white{
	color: white;
}

.primary-color{
	color: #F18A57;
}

/*-----Start of Homepage-----*/
/*-----Start of Homepage-----*/
header{
	position: fixed;
	padding: 25px 0;
  background-color: #0009;
	width: 100%;
}

.container{
	padding: 0 25px;
}

#birdman-logo{
	width: 220px;
}

.main-banner{
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
  line-height: 10px;
}

.menu-items{
	display: flex;
	flex-direction: row;
}

.menu-items li:not(:first-child){
	padding-left: 1rem;
}

.menu-items li:not(:last-child) a::after{
	padding-left: 1rem;
	font-weight: 400;
	content: ' / ';
}

.menu-item{
	display: flex;
}

.menu-item a{
	margin-top: auto;
	margin-bottom: auto;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 700;
	color: white;
}
/*------ Center -------*/
#landing{
	z-index: -10000;
	position: relative;
	height: 100vh;
	background:
		linear-gradient(
      rgba(7, 7, 7, 0.30),
      rgba(7, 7, 7, 0.30)
    ), url(../images/backgrounds/profile.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size:cover;
}


@media(min-width: 750px){
	.largetext{
		font-size: 60px;
		padding-right: 35vw;
	}
}
/*------ Details -------*/
.highlight{
	display: inline;
	background-image: linear-gradient(#F18A57, #F18A57);
	background-repeat: no-repeat;
	background-size: 100% 16%;
	background-position: 0% 105%;
}

.mt-2{
	margin-top: 2rem;
}

#scroll-arrow{
	position: absolute;
	bottom: 25px;
}

/*------ DIVIDER -----*/
.section-divider{
	padding: 3rem 0;
	max-width: 1100px;
	margin: 0 auto;
}

@media(min-width: 750px){
	.section-title{
		font-size: 60px;
	}
}
/*------- in Between -------*/
/* .container .between{ */
/*   padding: 2.5 rem 0; */
/*   background-color: #6E6767; */
/*   position: absolute; */
/*   overflow: hidden; */
/* } */
/* .container-inner{ */
/* } */

@media(min-width: 750px){
	.blow-up{
		text-align: center;
		margin: 1em 0;
		font-size: 60px;
	}
}


/*------- GRID for Project -------*/
#works-grid{
	list-style: none;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 25px;
}

@media(min-width: 750px){
	#works-grid{
		grid-template-columns: repeat(4, 1fr);
	}

	.works-thumbnail-wrapper:nth-child(even){
		transform: translateY(33.333333333%);
	}
}

.works-thumbnail-wrapper{
	height: 250px;
}

.works-thumbnail-wrapper a{
	text-decoration: none;
	color: white;
	height: 100%;
	display: flex;
	position: relative;
	overflow: hidden;
}

.works-thumbnail-wrapper a::before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background:
		linear-gradient(
      rgba(241, 138, 87, 0.00),
      rgba(241, 138, 87, 0.80)
    );
}

.works-thumbnail-title, .works-thumbnail-img{
	transition: 0.2s ease-in-out;
}

.works-thumbnail-title{
	padding: 0 25px;
	margin-top: auto;
	z-index: 1000;
	opacity: 0;
	transform: translateY(150%);
}

.works-thumbnail-img{
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -100000;
}

.works-thumbnail-wrapper a:hover .works-thumbnail-img{
	transform: scale(1.1);
}

.works-thumbnail-wrapper a:hover .works-thumbnail-title{
	opacity: 1;
	transform: translateY(0%);
}

/*------- GRID for Education -------*/
#bio{
	background-color: #0f0f0f;
	color: white;
}

@media(min-width:750px){
	.lead{
		font-size: 20px;
    margin-top:: 30px;
    margin-bottom: 45px;
	}
}

#edu-grid{
	list-style: none;
	padding: 0;
	display: grid;
  grid-template-rows: repeat(2, 1fr);
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 25px;
}

.btn{
text-decoration: none;
background:
#FF6A4D;
color:
white;
padding: 10px;
display: inline-block;
}
.buttonm{
  margin-top: 50px;
  margin-bottom: 20px;
}
/*------- GRID for Experience -------*/
.middleContent{
  background-color: #F0F8FF;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 3% 5%;
}


/*------- Footer -------*/
#contact{
  padding: 3rem 0;
  background: rgba(0,0,0,0.5);
}
footer{
  text-align: center;
  color: white;
}

footer p{
  margin-top: 10%;
}

.contact-info a{
  padding:8px;
  width: 28%;
  margin-left:-5px;
  margin-right: -5px;
  margin-top: -3px;
  display: inline-block;
  color: #CCEEFF;
}

.entrywrap{
  max-width:950px;
  margin: auto;
  padding: 60px 50px;
  overflow: auto;
}
